.solutionsContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #6b39fd, #576ef2, #30d8d9);
    position: relative;
}
#solutionParticles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.solution{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    row-gap: 100px;
    padding: 100px 0px;
    align-items: center;
}
.solutionList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 100px;
}
.solutionItem{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.textSolution{
    font-size: 28px;
    color: white;
}
@media screen and (max-width: 1200px) and (min-width: 768px){
    .solution{
        width: 90%;
    }

}
@media screen and (max-width: 767px) and (min-width: 250px){
    .solution{
        width: 90%;
    }

}
